body {
  overflow: auto;
  height: 100%;
  /* 高さを100%に設定して、親要素の高さに合わせる */
  margin: 0;
  /* マージンをリセットして、余白が生じないようにする */
}

.TextFormButton {
  width: 20%;
}



.TextSetting {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 700px;
  min-width: 500px;
  border-width: 2px;
  padding: 20px;
  padding-right: 30px;
  border: solid 1px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  /* max-height を削除 */
}

.FormMenuScroll {
  max-height: 600px;
  /* スクロール可能領域の高さを設定 */
  overflow: auto;
  /* 縦スクロールを可能に */
  scrollbar-color: black white;
  scrollbar-width: thin;
}



.SurveyModal {
  width: 30%;
  overflow-x: auto;
  overflow-y: hidden;
  /* 縦のオーバーフローは非表示 */
}

input[type="number"] {
  -webkit-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: auto;
}

.sd-header__text .sd-title {
  font-size: 20px;
}

.sd-root-modern {
  margin: 0 auto;
  /* 自動で左右のマージンを設定し、中央揃えにします */
}


.back_news_draft {
  cursor: pointer;

  /* ボタンに少し丸みを追加 */
  padding: 8px 10px 20px 20px;
  /* 内側に余白を追加 */
  width: 250px;
}

.Form-container {
  width: 100%;
}

.FormDemo {
  position: relative;
  overflow: auto;
  /* スクロールを有効にする */
  flex-grow: 1;
  height: 100%;
}






.MuiStack-root .css-1sazv7p-MuiStack-root {
  left: 10%;
}

.SelectMenu {
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}



.QuestionMenu_Hamburger {
  padding: 10px;
  display: flex;
  /* フレックスボックスを有効化して子要素を横並びに */
  flex-direction: row;
  /* 子要素を横方向に配置 */
  align-items: stretch;
  /* 子要素の高さを揃える */
  gap: 10px;
  /* 子要素間の間隔 */
  padding-bottom: 10px;
  width: fit-content;
  /* 必要に応じて調整 */
  overflow-y: auto;
}

.Menu_Addform {
  width: 1500px;
  height: 50%;
  margin-top: 3%;
}

.FormMenuButton {
  display: block;
  width: 10%;
}

.FormMenuButton:hover {
  background-color: "#a9a9a9",
}

.FormMenu-Accordion {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
}

.form_information {
  width: 100%;
  height: 30%;
  border: 1px solid;
}

.table_number {
  width: 15%;
  text-align: center;
}

.table_title {
  width: 70%;
  padding: 0.1em;
  text-align: center;
}

.table_type {
  width: 100%;
  padding: 0.1em;
  text-align: center;
}


.FormMenu {
  display: flex;
  align-items: center;
  font-size: 15px;
  border: 1px solid black;
  width: 250px;
  justify-content: center;
}

.FormMenuIcon {
  font-size: 25px;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  /* オーバーレイの背景色 */
  z-index: 1200;
  /* オーバーレイの z-index */
  width: 100%;
  height: 100%;
  position: fixed;
  /* 全画面に表示させるため */
  top: 0;
  left: 0;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 4%;
  /* モーダルの角丸 */
  padding: 1.5rem;
  /* overflow: hidden; */
  z-index: 1300;
  /* コンテンツの z-index */
  height: auto;
  /* モーダルの高さ */
  width: 20%;
  /* モーダルの幅 */
  /* コンテンツの背景色 (必要に応じて追加) */
}

.Back_Button {
  position: relative;
  top: 10px;
  width: auto;
}

.Delete_Button {
  background-color: white;
  color: red;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 10px;
}

.Edit_Button {
  background-color: white;
  color: blue;
  border: 1px solid blue;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 10px;
}


.FormSelectMenu {
  width: 30%;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 15px 0px;
}

.newsEditMenuButton {
  margin: 0px 2px;
}

.Theme_Select {
  width: 50%;
}

.Buttons {
  width: 100%;
}

.FormSelectButton {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 15px 0px;
}

.FormSelectButton .ButtonContainer {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* セルのように見せるためにブロック配置 */
  text-align: center;
  border: 1px solid #bbbbbb;
  background-color: #F9FAFB;
  border-radius: 4px !important;
  transition: 0.2s;

}

.FormSelectButton .ButtonContainer button:hover {
  background-color: #4BA2FB;
}

.FormSelectButton .ButtonContainer button {
  width: 100%;
  border-radius: 0px;
  color: #212b30 !important;
}

.FormSelectButton .ButtonContainer button:hover {
  color: white !important;
}


@media (max-width: 1200px) {
  .QuestionMenu_Hamburger {
    width: fit-content;
    height: fit-content;
    column-gap: 0px;
    padding: 0;
  }

  .SurveyModal {
    width: 80% !important;
    padding-bottom: 50%;
  }


}

/* スマホサイズの場合 */
@media (max-width: 900px) {
  .SurveyModal {
    width: 100% !important;
    padding-bottom: 50%;
  }

  .Buttons {
    width: 100%;
  }
}

@media(max-width:600px) {


  .QuestionMenu {
    width: 370px;
    left: 100%;
    padding: 1%;
  }

  .Buttons {
    width: 100%;
  }

  .FormSelectMenu {
    width: 100%;
    display: flex;
  }

  .FormSelectMenu_Text {
    font-size: 12px;
  }

  .QuestionMenu_Hamburger {
    width: fit-content;
    height: fit-content;
    column-gap: 0px;
    padding: 0;
  }

  .Menu_Addform {
    margin-top: 10%;
    margin-left: 10px;
  }

}


@media (max-width: 400px) {
  .TextSetting {
    height: 500px;
    min-width: 350px;
    overflow: auto;
    scrollbar-color: black white;
    scrollbar-width: thin;
  }

  .TextSetting::-webkit-scrollbar {
    margin-left: 40%;
  }

  .ShowForm {
    padding-bottom: 40%;
    /* スクロール余白 */
    height: auto;
    /* 高さを自動調整 */
  }

  .SurveyModal {
    height: 100%;
    /* 子要素の高さを100%に設定 */
    padding-bottom: 40%;
    overflow-y: auto;
    /* 縦スクロールを有効化 */
  }


  .FormSelectMenu {
    width: fit-content;
    display: flex;
  }

  .FormSelectMenu_Text {
    position: relative;
    font-size: 12px;
  }

  .QuestionMenu_Hamburger {
    width: fit-content;
    height: fit-content;
    column-gap: 0px;
    padding: 0;
  }

  .Menu_Addform {
    margin-top: 10%;
  }

  .QuestionMenu {
    width: 370px;

  }

  .menu_deadline {
    width: 55%;
    height: 40%;
  }

  .Back_Button {
    position: relative;
    top: 10px;
    width: auto;
  }

  .Buttons {
    width: 100%;
  }

}