body {

  /* 縦のスクロールバーを自動で表示 */
  height: 100%;
  /* 高さを100%に設定して、親要素の高さに合わせる */
  margin: 0;
  /* マージンをリセットして、余白が生じないようにする */
}
/* .codex-editor--empty .ce-block:first-child .ce-paragraph[data-placeholder]:empty::before {
  margin-left: 10px;
} */


.editor_title {
  width: 90%;
  height: 10%;
  font-weight: bold;
  font-size: 30px;
  outline: none;
  border: none;
  /* left: 10%; */
  /* padding-bottom: 35px; */
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #F9FAFB;
}

.editor-wrapper {
  height: auto;
}



.cover_img_upload {
  width: 100%;
  height: 100px;
  box-sizing: border-box;

  margin: 0;
  border: none;
  transition: 0.5s;
}

.image_search_icon_button_icon {
  width: 400px;
  height: 250px;
  min-width: 250px;
  min-height: 200px;
  border-radius: 5px !important;
  border: 2px dashed rgb(88, 99, 248);
}

.image_search_icon_button_icon:hover {
  cursor: pointer;
}

.uploaded-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

.uploaded-image img {
  width: 100%;
  height: auto;
  /* 高さは自動調整 */
  aspect-ratio: 16 / 9;
  /* 16:9の比率 */
  max-width: 450px;
  /* 最大幅350px */
  max-height: 400px;
  /* 最大高さ300px */
  object-fit: cover;
  /* 画像が枠に収まるようにトリミング */
}


.cancelIcon {
  position: absolute;
  top: 0;
  right: 4;
  transform: translate(-50%, -50%);
  width: 30px;
  /* 適切なサイズに調整 */
  height: 30px;
  /* 適切なサイズに調整 */
  z-index: 10;
  /* 画像よりも手前に表示するために必要な場合 */
}

.save {
  display: block;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #338DC9;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}

figcaption {
  color: #ff0000;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

/* エディター　公開設定　ラジオボタン */
input[type=radio] {
  display: none;
  /* ラジオボタンを非表示にする */
}

input[type="radio"]:checked+.label {
  background: #F3704B;
  /* マウス選択時の背景色を指定する */
  color: white;
  /* マウス選択時のフォント色を指定する */
}

.label {
  display: block;
  /* ブロックレベル要素化する */
  float: right;
  /* 要素の左寄せ・回り込を指定する */
  margin: 5px;
  /* ボックス外側の余白を指定する */
  width: 100px;
  /* ボックスの横幅を指定する */
  height: 45px;
  /* ボックスの高さを指定する */
  padding-left: 5px;
  /* ボックス内左側の余白を指定する */
  padding-right: 5px;
  /* ボックス内右側の余白を指定する */
  color: black;
  /* フォントの色を指定 */
  text-align: center;
  /* テキストのセンタリングを指定する */
  line-height: 45px;
  /* 行の高さを指定する */
  cursor: pointer;
  /* マウスカーソルの形（リンクカーソル）を指定する */
  border: 2px solid #006DD9;
  /* ボックスの境界線を実線で指定する */
  border-radius: 5px;
  /* 角丸を指定する */
  font-size: 10px;
}


.news_textarea {
  resize: none;
  width: 300px;
  max-height: 100px;
  min-height: 100px;
}

/* デフォルトのスタイル（PC向け） */
.news_menu_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news_menu_modal_content {
  z-index: 2;
  width: 80%;
  height: 60%;
  padding: 1em;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  border: 2px solid black;
}

.icon-text-container {
  display: flex;
  align-items: center;
  width: 100px;
  /* サイズを小さく調整 */
  padding-right: 5%;
}

.icon-text-container p {
  margin-left: 8px;
  white-space: nowrap;
  /* テキストを一列に保つ */
}




.menu-container {
  width: 90%;
  flex-direction: column;
}

.menu-item {
  padding: 10px;
  cursor: pointer;
  align-items: center;
  width: 70%;
}

.NewsMenu-Accordion {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
}


.editingstatus {
  margin-left: 20px;
  padding-top: 20px;
  width: 90%;
  overflow-x: auto;
  height: 400px;
  /* 固定の高さを設定 */
}

.editingstatus p {
  font-size: 12px;
}


.news_genre_select {
  position: relative;
  align-items: center;
}

.CancelButton {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
}

.CloseModalButton {
  margin-top: 1%;
  margin-left: 1%;
}

td {
  border: none;
}

.add_draft_news {
  cursor: pointer;
  padding-bottom: 10px;
}

.selectmodal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  /* オーバーレイの背景色 */
  z-index: 1200;
  /* オーバーレイの z-index */
  width: 100%;
  height: 100%;
  position: fixed;
  /* 全画面に表示させるため */
  top: 0;
  left: 0;
}

.selectmodal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 4%;
  /* モーダルの角丸 */
  padding: 1.5rem;
  overflow: hidden;
  z-index: 1300;
  /* コンテンツの z-index */
  height: auto;
  /* モーダルの高さ */
  width: 20%;
  /* モーダルの幅 */
  background-color: white;
  /* コンテンツの背景色 (必要に応じて追加) */
}


.css-d3ri6l-MuiStack-root {
  margin: 0;
}

.Not_Upload_Button {
  position: relative;
  width: auto;
  border-color: #A9A9A9;
  color: #A9A9A9;
}

.Not_Upload_Button:hover {
  cursor: not-allowed;
}

.NewsMenu_Tabs {
  width: 100%;
}

.css-15u176q-MuiPaper-root-MuiAppBar-root {
  box-shadow: none;
}

.newsPosting {
  margin: 20px;
}

.NewsThumnbnailElements {
  position: relative;
}

.thumbnail_img_delete_icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  transition: all 0.3s ease;
  /* スムーズなトランジション */
}

.thumbnail_img_delete_icon:hover {
  color: red;
  cursor: pointer;
}

.thumbnail_img_delete_icon:active {
  color: #f0908d;
  cursor: pointer;
}

.image_search_icon_main {
  width: 100%;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image_search_icon_first {
  width: 50%;
  min-width: 250px;
  max-width: 350px;
  min-height: 250px;
  max-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed rgb(88, 99, 248);
  border-radius: 5px;
}

.editor_title::placeholder,
.editor_title {
  font-size: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  padding-left: 5%;
}

.codex-editor__redactor{
  padding-bottom: 0px !important;
}


@media(max-width:1700px) {

  .thumbnail_img_delete_icon {
    font-size: 40px;
  }

  .uploaded-image {
    padding-top: 10%;
    /* left: 20%; */
    /* width: 500px;
    height: 200px; */
  }

  .SelectMenu {
    padding-top: 5%;
  }


  .cover_img_upload {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    margin: 0;
    border: none;
    transition: 0.5s;
  }
}

@media(max-width:1200px) {

  .thumbnail_img_delete_icon {
    font-size: 40px;
  }

  .uploaded-image {
    padding-top: 10%;
    /* left: 30%;
    width: 500px;
    height: 200px; */
  }

  .SelectMenu {
    padding-top: 5%;
  }


  .cover_img_upload {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    margin: 0;
    border: none;
    transition: 0.5s;
  }

  .editor-wrapper {
    width: 100%;
    height: auto;
  }

  .codex-editor__redactor{
    padding-top: 5%;
    padding-bottom: 10% !important;
  }
}

@media(max-width: 900px) {
  .thumbnail_img_delete_icon {
    font-size: 40px;
  }

  .uploaded-image {
    padding-top: 10%;
    /* left: 20%;
    width: 500px;
    height: 200px; */
  }

  .SelectMenu {
    padding-top: 5%;
  }

  .cover_img_upload {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    margin: 0;
    border: none;
    transition: 0.5s;
  }

  .editor-wrapper {
    width: 100%;
    height: auto;
  }

  .codex-editor__redactor{
    padding-top: 5%;
    padding-bottom: 10% !important;
  }
}

@media (max-width: 600px) {

  .thumbnail_img_delete_icon {
    font-size: 30px;
  }

  .editor_title {
    font-size: 16px;
  }

  .codex-editor__redactor{
    padding-top: 10%;
    padding-bottom: 20% !important;
  }

  .editor-wrapper {
    width: 100%;
    height: auto;
  }


  .IconButton {
    width: 70%;
  }

  .FormMenuIcon {
    font-size: 10px;
  }

  .cover_img_upload {
    width: 100px;
    height: 200px;
  }



  .uploaded-image img {
    width: 90%;
    height: auto;
    aspect-ratio: 16 / 9;
    max-width: 450px;
    max-height: 400px;
    object-fit: cover;
  }

  .uploaded-image {
    padding-top: 15%;
    /* left: 15%;
    width: 300px;
    height: 200px; */
  }

  .SelectMenu {
    padding-top: 5%;
  }

  .cover_img_upload {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin: 0;
    border: none;
    transition: 0.5s;
  }

  .ce-popover--opened>.ce-popover__container {
    top: 40%;
  }

  .ce-popover__container {
    width: 50%;
  }

  .NewsThumnbnailElements {
    position: relative;
    left: 20px;
  }

  .thumbnail_img_delete_icon {
    position: absolute;
    font-size: 20px;
    top: 0;
    left: 80%;
  }

}

@media(max-width:400px) {

  .NewsThumnbnailElements {
    position: relative;
    left: 20px;
  }

  .thumbnail_img_delete_icon {
    position: absolute;
    font-size: 20px;
    top: 0;
    left: 78%;
  }

  .ce-popover--opened>.ce-popover__container {
    top: 40%;
  }

  .ce-popover__container {
    width: 50%;
  }

  .uploaded-image {
    padding-top: 20%;
  }

  .SelectMenu {
    padding-top: 10%;
    padding-bottom:10%;
  }

  .image_search_icon_button_icon {
    width: 250px;
    height: 200px;
  }

  .cover_img_upload {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin: 0;
    border: none;
    transition: 0.5s;
  }


  .editor_title::placeholder,
  .editor_title {
    font-size: 16px;
  }

  .codex-editor__redactor{
    padding-top: 5%;
    padding-bottom: 20% !important;
  }

  .editor-wrapper {
    width: 100%;
    height: auto;
  }

}