.draftlistScroll {
    overflow-y: auto;
    /* 必要に応じてスクロールバーを表示 */
    overflow-x: hidden;
    height: auto;
    margin-left: 10%;
}

.draftlist {
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.add_draft_news {
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
    padding-bottom: 10px;
}

.popover_createform {
    margin-top: -50px;
    width: fit-content;
    height: fit-content;
}

.draftlisttable {
    width: 70%;
    /* テーブルの幅を親要素に合わせる */
    border: 1px solid black;
    margin-bottom: 20px;
    border-collapse: separate;
    /* テーブルの境界線を一貫して表示 */
    height: auto;
    overflow: auto;
}

.draftlisttable thead {
    background-color: #338DC9;
    padding: 5px;
}


.delete_icon {
    align-items: center;
    cursor: pointer;
}

.delete_text {
    margin-left: 5%;
    width: 40px;
    font-size: 10px;
}

_ .Last_updated_date {
    margin-bottom: 8px;
    font-size: 10px;
}

.news_img img,
.news_img .MuiSvgIcon-root {
    width: 80px;
    height: 60px;
}

.news_img img {
    position: relative;
    left: 15%;
}

.news_job_acordion_menu {
    /*  横並び */
    display: flex !important;
    /* 必要に応じて折り返す */
    flex-wrap: wrap !important;
    /* 要素間の間隔 */
    gap: 1 !important;
    /* 垂直方向の整列 */
    align-items: center !important;
    padding: 16px 20px !important;
    white-space: normal !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
}

.NewsSelectButton {
    width: fit-content;  
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 15px 0px;
}

.NewsSelectButton .ButtonContainer {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* セルのように見せるためにブロック配置 */
    text-align: center;
    border: 1px solid #bbbbbb;
    background-color: #F9FAFB;
    border-radius: 4px !important;
    transition: 0.2s;

}

.NewsSelectButton .ButtonContainer button:hover {
    background-color: #4BA2FB;
}

.Not_Upload_Button {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* セルのように見せるためにブロック配置 */
    text-align: center;
    border: 1px solid #bbbbbb;
    background-color: #F9FAFB;
    border-radius: 4px !important;
    transition: 0.2s;

}


.Not_Upload_Button button {
    width: 100%;
    border-radius: 0px;
    color: #212b30;
}

.Not_Upload_Button button:hover {
    color: white;
    background-color: #f0908d !important;
}



.NewsSelectButton .ButtonContainer button {
    width: 100%;
    border-radius: 0px;
    color: #212b30 !important;
}

.NewsSelectButton .ButtonContainer button:hover {
    color: white !important;
}


.createFormJump {
    width: 90%;
    padding: 3%;
    border: 1px solid blue;
    color: blue;
    font-size: 12px;
    text-align: center;
}


.popover_jobtype {
    width: fit-content;
    height: fit-content;

    min-width: 250px;
    max-width: 500px;
    padding: 10px;
}


.popover_draft_list {
    width: 300px;
    min-height: 400px;
    overflow-y: auto;
}

.Message_Length {
    text-align: right;
    margin-top: 0px;
}


.editingstatus {
    margin-left: 20px;
    padding-top: 10px;
    width: 100%;
    overflow-x: scroll;
    height: 400px;
    /* 固定の高さを設定 */
}

.editingstatus p {
    font-size: 12px;
}


/* const getPopoverSize = (menuState) => {
    switch (menuState) {
        case 'eventday':
        return { width: '300px', minHeight: '100px' };
        case 'jobtype':
        return { width: '400px', minHeight: '300px' };
                case 'message':
            return { width: '350px', minHeight: '100px' };
        case 'createform':
            return { width: '300px', minHeight: '100px' };
        case 'editing_status':
            return { width: '350px', minHeight: '100px' };
        default:
            return { width: '300px', minHeight: '200px' };
    }
}; */



@media(max-width:1600px) {

}

@media(max-width:1200px) {
    /* .NewsSelectButton {
        padding-top: 3%;
    } */

    .NewsUploadButton_Text,
    .NewsSelectButton_Text {
        font-size: 12px;
    }
}

@media(max-width: 900px) {
    .NewsSelectButton {
        width: 100%;
    }

    .NewsSelectButton {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* 2列構成 */
        gap: 0px;
        /* セル間の余白 */

    }

    .NewsSelectButton .ButtonContainer {
        border-radius: 0px !important;

    }


    .NewsUploadButton_Text,
    .NewsSelectButton_Text {
        font-size: 12px;
    }

    .Not_Upload_Button {
        border-radius: 0px !important;
    }


    /* 開催日の時間のテキストサイズ */
    .MuiInputBase-input {
        font-size: 16px;
    }

    .menu_confirmation {
        width: 60%;
        height: 40%;
    }


    .menu_confirmation .MuiMenu-list {
        display: flex;
        flex-direction: row;
    }

    .menu_input .MuiMenuItem-root,
    .menu_confirmation .MuiMenuItem-root {
        font-size: 20px;
        min-height: 0;
    }




    .popover_eventday {
        margin-top: -25px;
        position: relative;
        width: 270px;
        margin-left: 25%;
    }



    .popover_createform {
        margin-top: -50px;
        width: 200px;
        margin-left: 35%;
    }

    .popover_message {
        margin-top: -50px;
        width: 200px;
        margin-left: 35%;
    }


    .Message_Length {
        text-align: left;
    }

    .popover_editing_status {
        position: relative;
        width: 300px;
        margin-top: 30px;
        max-height: 300px;
        margin-left: -20px;
        height: 400px;
    }

    .editingstatus {
        margin-left: 20px;
        padding-top: 10px;
        width: 100%;
        overflow-y: scroll;
        height: 500px;
    }

    .editingstatus p {
        font-size: 12px;
    }

    .popover_draft_list {
        position: relative;
        width: 300px;
        margin-top: 30px;
        min-height: 100px;
        margin-left: -20px;
    }

    .draftlistScroll {
        overflow-y: auto;
        /* 必要に応じてスクロールバーを表示 */
        overflow-x: hidden;
        height: 300px;
        margin-left: 10%;
    }

    .add_draft_news_text {
        font-size: 10px;
    }

}




@media(max-width:600px) {
    /* .NewsSelectButton {
        padding-top: 5%;
        width: 350px;
    } */

    .NewsUploadButton_Text,
    .NewsSelectButton_Text {
        font-size: 12px;
    }

    /* 開催日の時間のテキストサイズ */
    .MuiInputBase-input {
        font-size: 10px;
    }

    .menu_confirmation {
        width: 60%;
        height: 40%;
    }


    .menu_confirmation .MuiMenu-list {
        display: flex;
        flex-direction: row;
    }

    .menu_input .MuiMenuItem-root,
    .menu_confirmation .MuiMenuItem-root {
        font-size: 12px;
        min-height: 0;
    }




    .popover_eventday {
        margin-top: -25px;
        position: relative;
        width: 170px;
        margin-left: 35%;
    }


    /* 応募職種のドロップダウンリストのフォントサイズ */
    .select_jobtype__menu {
        font-size: 10px;
    }

    .css-1dyz3mf {
        font-size: 10px;
    }

    .popover_createform {
        margin-top: -50px;
        width: 200px;
        margin-left: 35%;
    }



    .popover_message {
        margin-top: -50px;
        width: 200px;
        margin-left: 35%;
    }


    .Message_Length {
        text-align: left;
    }

    .popover_editing_status {
        position: relative;
        width: 300px;
        margin-top: 30px;
        max-height: 300px;
        margin-left: -20px;
        height: 400px;
    }

    .editingstatus {
        margin-left: 20px;
        padding-top: 10px;
        width: 100%;
        overflow-y: scroll;
        height: 500px;
    }

    .editingstatus p {
        font-size: 12px;
    }

    .popover_draft_list {
        position: relative;
        width: 300px;
        margin-top: 30px;
        min-height: 100px;
        margin-left: -20px;
    }

    .draftlistScroll {
        overflow-y: auto;
        /* 必要に応じてスクロールバーを表示 */
        overflow-x: hidden;
        height: 300px;
        margin-left: 10%;
    }

    .add_draft_news_text {
        font-size: 10px;
    }



}

@media(max-width:400px) {
    /* .NewsSelectButton {
        padding-top: 5%;
        width: 300px;
    } */

    .NewsUploadButton_Text,
    .NewsSelectButton_Text {
        font-size: 10px;
    }


    /* 開催日の時間のテキストサイズ */
    .MuiInputBase-input {
        font-size: 15px;
    }

    .menu_confirmation {
        width: 60%;
        height: 40%;
    }


    .menu_confirmation .MuiMenu-list {
        display: flex;
        flex-direction: row;
    }

    .menu_input .MuiMenuItem-root,
    .menu_confirmation .MuiMenuItem-root {
        font-size: 12px;
        min-height: 0;
    }




    .popover_eventday {
        margin-top: -25px;
        position: relative;
        width: 170px;
        margin-left: 35%;
    }

    /* 応募職種のドロップダウンリストのフォントサイズ */
    .select_jobtype__menu {
        font-size: 10px;
    }

    .css-1dyz3mf {
        font-size: 10px;
    }

    .popover_createform {
        margin-left: 25%;
    }

    .draftlisttable {
        width: 90%;
        /* テーブルの幅を親要素に合わせる */
        border: 1px solid black;
        border-collapse: separate;
        /* テーブルの境界線を一貫して表示 */
        height: auto;
        overflow: auto;
    }

    .draftlisttable thead {
        background-color: #338DC9;
        padding: 5px;
    }

    .delete_icon {
        align-items: center;
        cursor: pointer;
    }

    .delete_text {
        margin-left: 5%;
        width: 40px;
        font-size: 10px;
    }

    _ .Last_updated_date {
        margin-bottom: 8px;
        font-size: 10px;
    }



    .popover_message {
        margin-top: -50px;
        width: 200px;
        margin-left: 35%;
    }


    .Message_Length {
        text-align: left;
    }

    .popover_editing_status {
        position: relative;
        width: 300px;
        margin-top: 30px;
        max-height: 300px;
        margin-left: -20px;
        height: 400px;
    }

    .editingstatus {
        margin-left: 20px;
        padding-top: 10px;
        width: 100%;
        overflow-y: scroll;
        height: 500px;
    }

    .editingstatus p {
        font-size: 12px;
    }

    .popover_draft_list {
        position: relative;
        width: 250px;
        margin-top: 30px;
        min-height: 100px;
        margin-left: -20px;
    }

    .draftlistScroll {
        overflow-y: auto;
        /* 必要に応じてスクロールバーを表示 */
        overflow-x: hidden;
        height: 300px;
        margin-left: 10%;
    }

    .draftlist {
        width: 130px;
        font-size: 12px;
    }

    .add_draft_news_text {
        font-size: 10px;
    }






}