.draftlistScroll {
    position: relative;
    overflow-y: auto;
    /* 必要に応じてスクロールバーを表示 */
    overflow-x: hidden;
    height: 100%;
    margin-left: 10%;
}

.draftlist {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}

.draftlist:hover {
    background-color: lightgray;
    border-radius: 8px;
}

.question_count {
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}


.add_draft_news {
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
    padding-bottom: 10px;
}

.popover_createform {
    margin-top: -50px;
    width: 15%;
    height: 20%;
}

.question_count{
    width: 60%;
}

.draftlisttable {
    width: 90%;
    /* テーブルの幅を親要素に合わせる */
    border: 1px solid black;
    margin-bottom: 20px;
    border-collapse: separate;
    /* テーブルの境界線を一貫して表示 */
    height: auto;
    overflow: auto;
}

.createformtable {
    width: 90%;
    /* テーブルの幅を親要素に合わせる */
    border: 1px solid black;
    border-collapse: separate;
    /* テーブルの境界線を一貫して表示 */
    height: 10%;
    overflow: hidden;
    margin-top: 15px;
    margin-left: 15px;
}

.draftlisttable thead,
.createformtable thead {
    background-color: #338DC9;
    padding: 5px;
}

.delete_icon {
    color: red;
    align-items: center;
    cursor: pointer;
}

.delete_icon:hover{
    color: red;
}

.Last_updated_date {
    font-size: 12px;
    cursor: pointer;
}

.news_img img,
.news_img .MuiSvgIcon-root {
    width: 100px;
    height: 70px;
    padding-top: 5%;
}

.news_img img {
    position: relative;
    left: 15%;
}

.css-9v62ji-MuiTableCell-root {
    padding-bottom: 1px;
}

.news_job_acordion_menu {
    /*  横並び */
    display: flex !important;
    /* 必要に応じて折り返す */
    flex-wrap: wrap !important;
    /* 要素間の間隔 */
    gap: 1 !important;
    /* 垂直方向の整列 */
    align-items: center !important;
    padding: 16px 20px !important;
    white-space: normal !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
}

.NewsSelectButton {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 15px 0px;
}

.NewsSelectButton .ButtonContainer {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* セルのように見せるためにブロック配置 */
    text-align: center;
    border: 1px solid #bbbbbb;
    background-color: #F9FAFB;
    border-radius: 4px !important;
    transition: 0.2s;

}

.NewsSelectButton .ButtonContainer button:hover {
    background-color: #4BA2FB;
}

.Not_Upload_Button {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* セルのように見せるためにブロック配置 */
    text-align: center;
    border: 1px solid #bbbbbb;
    background-color: #F9FAFB;
    border-radius: 4px !important;
    transition: 0.2s;
}



.Not_Upload_Button button {
    width: 100%;
    border-radius: 0px;
    color: #212b30;
}

.Not_Upload_Button button:hover {
    color: white;
    background-color: #f0908d !important;
}



.NewsSelectButton .ButtonContainer button {
    width: 100%;
    border-radius: 0px;
    color: #212b30 !important;
}

.NewsSelectButton .ButtonContainer button:hover {
    color: white !important;
}


.createFormJump {
    width: 90%;
    padding: 3%;
    border: 1px solid blue;
    color: blue;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}




.popover_jobtype {
    width: fit-content;
    height: fit-content;
    min-width: 250px;
    max-width: 450px;
    padding: 10px;

}

.popover_draft_list {
    position: relative;
    width: 300px;
    margin-top: 30px;
    height: 50%;
    min-height: 50px;
    margin-left: -20px;
}

.Message_Length {
    text-align: right;
    margin-top: 0px;
}


.editingstatus {
    margin-left: 20px;
    padding-top: 10px;
    width: 100%;
    overflow-y: auto;
    /* 縦スクロールのみ許可 */
    overflow-x: hidden;
    /* 横スクロールを非表示 */
    height: 400px;
    /* 固定の高さを設定 */
}

.editingstatus p {
    font-size: 12px;
}


.NotificationMessage {
    width: 100%;
}

.EditorStatusCheck_Img {
    position: relative;
    width: 30%;
    left: 25%;


}

.popover_editing_status {
    position: relative;
    width: 450px;
    margin-top: 0px;
    max-height: 300px;
    margin-left: 10%;
    height: 400px;
}


.CreateFormButton{
    margin-top: 5px;
    margin-left: 0;
}

.Not_CreateForm{
    width: 100%;
    margin-top: 5%;
    margin-left: 0%;
}

.dateUndecided_Text{
    font-size: 12px;
    margin-top: 10px;
}

.dateUndecided_Text_Editing_Status{
    margin-left: 30%;
}




@media(max-width:1600px) {
    .MuiInputBase-input {
        font-size: 16px;
        text-align: center;
    }

    .popover_eventday {
        margin-top: -25px;
        position: relative;
        width: 250px;
        margin-left: 15%;
    }

    .popover_message {
        margin-top: -50px;
        width: 400px;
        margin-left: 15%;
    }

    .popover_jobtype {
        width: 300px;
        margin-left: 15%;
        margin-top: -5%;
    }

    /* 応募職種のドロップダウンリストのフォントサイズ */
    .select_jobtype__menu,
    .css-1dyz3mf {
        font-size: 16px;
    }

    .NotificationMessage {
        width: 100%;
    }

    .popover_createform {
        width: 25%;
        height: 180px;
        margin-left: 15%;
        overflow: hidden;
        margin-top: -50px;
    }

    .createformtable {
        width: 100%;
        margin-top: 10px;
    }

    .question_count {
        width: 60%;
    }


    .CreateFormButton{
        margin-top: 5px;
        margin-left: 0;
    }

    .Not_CreateForm{
        width: 100%;
        margin-top: 3%;
        margin-left: 5%;
    }


}

@media(max-width:1200px) {

    .NewsUploadButton_Text,
    .NewsSelectButton_Text,
    .CreateFormExplanation_Text {
        font-size: 12px;
    }

    .CreateFormExplanation_Text,
    .NewsSelectButton_Text {
        padding-top:5px;
        padding-bottom: 5px;
    }

    .CreateFormButton{
        margin-top: 5px;
        margin-left: 0;
    }

    .Not_CreateForm{
        width: 100%;
        margin-top: 0%;
        margin-left: 0%;
    }

    /* 開催日の時間のテキストサイズ */
    .MuiInputBase-input {
        font-size: 16px;
        text-align: center;
    }

    .popover_eventday {
        margin-top: -25px;
        position: relative;
        width: 250px;
        margin-left: 15%;
    }

    .popover_jobtype {
        width: 300px;
        margin-left: 15%;
        margin-top: -5%;
    }

    /* 応募職種のドロップダウンリストのフォントサイズ */
    .select_jobtype__menu,
    .css-1dyz3mf {
        font-size: 16px;
    }

    .popover_message {
        margin-top: -50px;
        width: 400px;
        margin-left: 15%;
    }

    .NotificationMessage {
        width: 100%;
    }

    .popover_createform {
        width: 220px;
        height: 150px;
        margin-left: 15%;
        overflow: hidden;
        margin-top: -50px;
    }

    .Last_updated_date {
        margin-bottom: 8px;
        font-size: 10px;
        width: 150px;
    }

    .question_count {
        width: 60%;
    }

    .createFormJump {
        width: 100%;
    }

    .createformtable {
        width: 50%;
        /* テーブルの幅を親要素に合わせる */
        border: 1px solid black;
        margin-bottom: 20px;
        border-collapse: separate;
        /* テーブルの境界線を一貫して表示 */
        overflow: hidden;
    }



}

@media(max-width: 900px) {
    .NewsSelectButton {
        width: 100%;
    }

    .NewsSelectButton {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* 2列構成 */
        gap: 0px;
        /* セル間の余白 */

    }

    .NewsSelectButton .ButtonContainer {
        border-radius: 0px !important;
    }


    .NewsUploadButton_Text,
    .NewsSelectButton_Text,
    .CreateFormExplanation_Text {
        font-size: 12px;
    }

    .CreateFormExplanation_Text,
    .NewsSelectButton_Text {
        padding-top:5px;
        padding-bottom: 5px;
    }

    .CreateFormButton{
        margin-top: 5px;
        margin-left: 0;
    }

    .Not_CreateForm{
        width: 100%;
        margin-top: 5%;
        margin-left: 0%;
    }

    .Not_Upload_Button {
        border-radius: 0px !important;
    }

    .popover_jobtype {
        width: 50%;
        margin-left: 10%;
        margin-top: 10px;
    }

    /* 応募職種のドロップダウンリストのフォントサイズ */
    .select_jobtype__menu,
    .css-1dyz3mf {
        font-size: 16px;
    }


    /* 開催日の時間のテキストサイズ */
    .MuiInputBase-input {
        font-size: 16px;
        text-align: center;
    }

    .menu_input {
        width: 100%;
        height: 40%;
        top: 5px;
    }

    .menu_input .MuiMenu-list {
        display: flex;
        flex-direction: row;
        padding: 5px;
    }

    .menu_confirmation {
        width: 60%;
        height: 40%;
    }

    .menu_confirmation .MuiMenu-list {
        display: flex;
        flex-direction: row;
    }

    .menu_input .MuiMenuItem-root,
    .menu_confirmation .MuiMenuItem-root {
        font-size: 20px;
        min-height: 0;
    }

    .popover_eventday {
        margin-top: 10px;
        position: relative;
        width: 50%;
        margin-left: 20%;
    }

    .InputDateWithTime {
        width: 100%;
    }

    .popover_createform {
        width: 30%;
        margin-left: -15%;
        overflow: hidden;
        margin-top: 10px;
        height: 170px;
    }

    .createformtable {
        width: 100%;
        overflow: hidden;
        margin-top: 5%;
        margin-left: 0;
    }

    .Last_updated_date {
        margin-bottom: 8px;
        font-size: 10px;
        width: 150px;
    }

    .question_count {
        width: 60%;
    }

    .createFormJump {
        width: 100%;
    }


    .popover_message {
        margin-top: 10px;
        width: 70%;
        margin-left: -10%;
    }

    .NotificationMessage {
        width: 100%;
    }

    .Message_Length {
        text-align: left;
    }

    .popover_editing_status {
        position: relative;
        width: 300px;
        margin-top: 30px;
        max-height: 300px;
        margin-left: -20px;
        height: 400px;
    }

    .editingstatus {
        margin-left: 20px;
        padding-top: 10px;
        width: 100%;
        overflow-y: scroll;
        height: 500px;
    }

    .editingstatus p {
        font-size: 12px;
    }

    .popover_draft_list {
        position: relative;
        width: 300px;
        margin-top: 30px;
        min-height: 100px;
        margin-left: -20px;
    }

    .draftlistScroll {
        overflow-y: auto;
        /* 必要に応じてスクロールバーを表示 */
        overflow-x: hidden;
        height: 300px;
        margin-left: 10%;
    }

    .add_draft_news_text {
        font-size: 10px;
    }

}




@media(max-width:600px) {

    .NewsUploadButton_Text,
    .NewsSelectButton_Text,
    .CreateFormExplanation_Text {
        font-size: 12px;
    }

    .CreateFormExplanation_Text,
    .NewsSelectButton_Text {
        padding-top:5px;
        padding-bottom: 5px;
    }

    .CreateFormButton{
        margin-top: 5px;
        margin-left: 0;
    }

    .Not_CreateForm{
        margin-top: 5%;
        margin-left: 10%;
    }

    /* 開催日の時間のテキストサイズ */
    .MuiInputBase-input {
        font-size: 12px;
        text-align: center;
    }

    .menu_confirmation {
        width: 60%;
        height: 40%;
    }


    .menu_confirmation .MuiMenu-list {
        display: flex;
        flex-direction: row;
    }

    .menu_input .MuiMenuItem-root,
    .menu_confirmation .MuiMenuItem-root {
        font-size: 12px;
        min-height: 0;
    }

    .menu_input_one {
        width: 140px;
        top: 5px;
    }

    .menu_input_three {
        width: 70%;
        top: 5px;
    }

    .menu_input {
        width: 100%;
        top: 5px;
    }


    .menu_input_one .MuiMenu-list,
    .menu_input_three .MuiMenu-list,
    .menu_input .MuiMenu-list
    {
        display: flex;
        flex-direction: row;
        padding: 2px;
    }

    .menu_input_one .MuiMenuItem-root,
    .menu_input_three .MuiMenuItem-root,
    .menu_input .MuiMenuItem-root
     {
        font-size: 10px;
        min-height: 0;
        width: 30%;
    }

    .popover_eventday {
        margin-top: 10px;
        position: relative;
        width: 50%;
        margin-left: 20%;
        padding: 5px;
    }

    .InputDateWithTime {
        width: 100%;
    }


    .popover_jobtype {
        width: 50%;
        margin-left: -5%;
        margin-top: 10px;
    }

    /* 応募職種のドロップダウンリストのフォントサイズ */
    .select_jobtype__menu,
    .css-1dyz3mf {
        font-size: 12px;
    }

    .draftlisttable {
        width: 100%;
    }

    .popover_createform {
        width: 70%;
        margin-left: -10%;
        overflow: hidden;
        margin-top: 10px;
        height: 180px;
    }

    .createformtable {
        width: 100%;
        overflow: hidden;
        margin-top: 10px;
        margin-left: 0;
    }

    .Last_updated_date {
        margin-bottom: 8px;
        font-size: 12px;
        width: 200px;
    }

    .question_count {
        width: 60%;
    }

    .createFormJump {
        width: 100%;
    }

    .popover_message {
        margin-top: 10px;
        width: 100%;
        margin-left: 0%;
    }

    .NotificationMessage {
        width: 100%;
    }


    .Message_Length {
        text-align: left;
    }

    .popover_editing_status {
        position: relative;
        width: 300px;
        margin-top: 30px;
        max-height: 300px;
        margin-left: -20px;
        height: 400px;
    }

    .editingstatus {
        margin-left: 20px;
        padding-top: 10px;
        width: 100%;
        overflow-y: scroll;
        height: 500px;
    }

    .editingstatus p {
        font-size: 12px;
    }

    .popover_draft_list {
        position: relative;
        width: 300px;
        margin-top: 30px;
        min-height: 100px;
        margin-left: -20px;
    }

    .draftlistScroll {
        overflow-y: auto;
        /* 必要に応じてスクロールバーを表示 */
        overflow-x: hidden;
        height: 300px;
        margin-left: 10%;
    }

    .add_draft_news_text {
        font-size: 10px;
    }



}

@media(max-width:400px) {

    .NewsUploadButton_Text,
    .NewsSelectButton_Text,
    .CreateFormExplanation_Text {
        font-size: 12px;
    }

    .CreateFormExplanation_Text,
    .NewsSelectButton_Text {
        padding-top:5px;
        padding-bottom: 5px;
    }

    .CreateFormButton{
        margin-top: 5px;
        margin-left: 0;
    }

    .Not_CreateForm{
        margin-top: 5%;
        margin-left: 10%;
    }


    /* 開催日の時間のテキストサイズ */
    .MuiInputBase-input {
        font-size: 12px;
        text-align: center;
    }

    .menu_input_one {
        width: 140px;
        top: 5px;
    }

    .menu_input_three {
        width: 70%;
        top: 5px;
    }

    .menu_input {
        width: 100%;
        top: 5px;
    }


    .menu_input_one .MuiMenu-list,
    .menu_input_three .MuiMenu-list,
    .menu_input .MuiMenu-list
    {
        display: flex;
        flex-direction: row;
        padding: 2px;
    }

    .menu_input_one .MuiMenuItem-root,
    .menu_input_three .MuiMenuItem-root,
    .menu_input .MuiMenuItem-root
     {
        font-size: 10px;
        min-height: 0;
        width: 30%;
    }



    .menu_confirmation {
        width: 60%;
        height: 40%;
    }


    .menu_confirmation .MuiMenu-list {
        display: flex;
        flex-direction: row;
    }

    .menu_confirmation .MuiMenuItem-root {
        font-size: 12px;
        min-height: 0;
    }


    .popover_eventday {
        margin-top: 10px;
        position: relative;
        width: 60%;
        margin-left: 15%;
    }

    .popover_jobtype {
        width: 50%;
        margin-left: -5%;
        margin-top: 10px;
    }


    /* 応募職種のドロップダウンリストのフォントサイズ */
    .select_jobtype__menu,
    .css-1dyz3mf {
        font-size: 12px;
    }

    .popover_createform {
        width: 70%;
        margin-left: -10%;
        overflow: hidden;
        margin-top: 10px;
        height: 170px;
    }

    .createformtable {
        width: 100%;
        overflow: hidden;
        margin-top: 5%;
        margin-left: 0;
    }

    .Last_updated_date {
        margin-bottom: 8px;
        font-size: 10px;
        width: 150px;
    }

    .question_count {
        width: 60%;
    }

    .createFormJump {
        width: 100%;
    }



    .draftlisttable {
        width: 90%;
        /* テーブルの幅を親要素に合わせる */
        border: 1px solid black;
        border-collapse: separate;
        /* テーブルの境界線を一貫して表示 */
        height: auto;
        overflow: auto;
    }

    .draftlisttable thead {
        background-color: #338DC9;
        padding: 5px;
    }

    .delete_icon {
        align-items: center;
        cursor: pointer;
    }

    .delete_text {
        margin-left: 5%;
        width: 40px;
        font-size: 10px;
    }

    .Message_Length {
        text-align: left;
    }

    .popover_editing_status {
        position: relative;
        width: 300px;
        margin-top: 30px;
        max-height: 300px;
        margin-left: -20px;
        height: 400px;
    }

    .editingstatus {
        margin-left: 20px;
        padding-top: 10px;
        width: 100%;
        overflow-y: scroll;
        height: 500px;
    }

    .editingstatus p {
        font-size: 12px;
    }

    .popover_draft_list {
        position: relative;
        width: 250px;
        margin-top: 30px;
        min-height: 100px;
        margin-left: -20px;
    }

    .draftlistScroll {
        overflow-y: auto;
        /* 必要に応じてスクロールバーを表示 */
        overflow-x: hidden;
        height: 300px;
        margin-left: 10%;
    }

    .draftlist {
        width: 130px;
        font-size: 12px;
    }

    .add_draft_news_text {
        font-size: 10px;
    }

    .popover_message {
        margin-top: 10px;
        width: 100%;
        margin-left: 0%;
    }

    .NotificationMessage {
        width: 100%;
    }


    .InputDateWithTime {
        width: 60%;
    }


}