

.draftlistScroll {
    overflow-y: auto;
    /* 必要に応じてスクロールバーを表示 */
    overflow-x: hidden;
    height: auto;
    margin-left: 10%;
}

.draftlist{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.add_draft_news {
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
    padding-bottom: 10px;
}

.draftlisttable {
    width: 60%;
    /* テーブルの幅を親要素に合わせる */
    border: 1px solid black;
    margin-bottom: 20px;
    border-collapse: separate;
    /* テーブルの境界線を一貫して表示 */
}

.draftlisttable thead {
    background-color: #338DC9;
    padding: 5px;
}

.Last_updated_date {
    margin-bottom: 8px;
    font-size:10px;
}

.news_img img {
    width: 100px;
    height: 70px;
}

.createFormJump{
    cursor: pointer;
}

.news_job_acordion_menu {
    /*  横並び */
    display: flex !important;
    /* 必要に応じて折り返す */
    flex-wrap: wrap !important;
    /* 要素間の間隔 */
    gap: 1 !important;
    /* 垂直方向の整列 */
    align-items: center !important;
    padding: 16px 20px !important;
    white-space: normal !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
}

.NewsSelectButton{
    padding-top: 1%;
}

.News_Upload_Button,
.Not_Upload_Button{
    position: relative;
    top:25px;
}

/* .popover_eventday{
    background-color: #338DC9;
} */

.popover_jobtype{
    width: 400px; 
    min-height: 300px;
}



/* const getPopoverSize = (menuState) => {
    switch (menuState) {
        case 'eventday':
            return { width: '300px', minHeight: '100px' };
        case 'jobtype':
            return { width: '400px', minHeight: '300px' };
        case 'message':
            return { width: '350px', minHeight: '100px' };
        case 'createform':
            return { width: '300px', minHeight: '100px' };
        case 'editing_status':
            return { width: '350px', minHeight: '100px' };
        default:
            return { width: '300px', minHeight: '200px' };
    }
}; */



@media(max-width:1600px){
    .NewsSelectButton{
        padding-top: 3%;
    }
}

@media(max-width:1200px){
    .NewsSelectButton{
        padding-top: 3%;
    }

    .NewsUploadButton_Text,
    .NewsSelectButton_Text{
        font-size:25px;
    }
}

@media(max-width: 900px){
    .NewsSelectButton{
        padding-top: 5%;
    }

    .NewsUploadButton_Text,
    .NewsSelectButton_Text{
        font-size:20px;
    }
}


@media(max-width:600px){
    .NewsSelectButton{
        padding-top: 5%;
        width:350px;
    }

    .NewsUploadButton_Text,
    .NewsSelectButton_Text{
        font-size:12px;
    }
}

@media(max-width:400px){
    .NewsSelectButton{
        padding-top: 5%;
        width:300px;
    }

    .NewsUploadButton_Text,
    .NewsSelectButton_Text{
        font-size:10px;
    }


    .MuiInputBase-input {
        font-size: 12px; /* スマホでフォントサイズを小さくする */
    }

    .popover_eventday{
    position: relative;
    width: 200px;
    margin-left:35%;
    }

    .popover_jobtype{
        position: relative;
        width: 200px;
        margin-left:140px;
        }

}
