body {
  font-size: 16px;
  color: #3F4551;
  padding-right: 0 !important;
}

.App {
  width: 100%;
  height: 100vh;
  font-size: 18px
}

header {
  display: flex;
  justify-content: space-around;
  background-color: #f3f6fc;
  color: #696969;
  /* position: fixed; */
  width: 100%;
  z-index: 10;
  height: 60px;
  padding-right: 0 !important;
}

header .logo {
  font-size: 30px;
}

/* .LoginModalTopElement {} */

.loginButton,
.login_Honban_data {
  padding: 10px;
  margin: 2px;
  background: #41A4FF;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid #fff;
}

.panel-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.panel-content {
  display: flex;
  /* flex-direction: column; */
  padding: 20px 10px;
}

.loginSotushin2025 {
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
  width: 100%;
  object-fit: contain;
}

.edit-work-video-button-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 300px;
  margin: 0 auto;
  overflow-y: scroll;
}

.arrow_up_ward_icon {
  /* display: block !important; */
  cursor: pointer !important;
  width: 50px !important;
  height: 50px !important;
  position: fixed !important;
  right: 1.5vw !important;
  bottom: 30px !important;
  border-radius: 50% !important;
  border: 1.5px solid #637381;
  /* box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px !important; */
  z-index: 1200 !important;
  background-color: #FFFFFF;
  /* z-index もともとは1400だがモーダルの上にこの矢印がくるため変更 */
  overflow: visible;
  transition: 0.2s !important;
}

.arrow_up_ward_icon:hover {
  background-color: #414c56;
}

.arrow_up_ward_icon:active {
  color: #ffffff;
}

.toolbar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #FFFFFF;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.nav ul {
  margin: 0px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #696969;
  transition: all 0.2s;
}

nav ul li a:hover {
  color: rgb(45, 214, 158);
}

.searchbar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  box-shadow: 24;
  padding: 32px;
}

.TypographyWidth {
  width: 100%;
}

.logo_Work_Connect {
  color: #3C98EF;
  text-align: center;
}

.Login_Sign_select_C_or_S {
  cursor: pointer;
}



/* トップページここから */
.top_page_app_name {
  /* position: fixed; */
  text-align: center;
  color: rgb(40, 140, 255);
  top: 0px;
  z-index: 1101;
}

.top_page_wrapper {
  /* background: #D9D9D9; */
  border-radius: 20px;
  width: 83.5%;
  margin: 0 auto;
  height: 100%;
}

.top_page_content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.top_page_content_first {
  padding: 0px 25px;
  position: relative;
  top: -5%;
}

/* 作品を投稿して企業から手を差し伸べてもらおう!!!*/
.top_page_message {
  overflow-wrap: break-word;
  font-size: 30px;
  font-weight: bold;
}

.top_page_messege_span {
  color: #328BFF;
  font-size: 2.3rem;
}

.top_page_messege_span_second {
  font-size: 2.3rem;
}

.top_page_app_image {
  background: red;
  width: 100%;
  border-radius: 35px;
}

.top_page_controller {
  display: flex;
}

.top_page_button {
  background-color: white;
  color: #1877F2;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.top_page_button:first-child {
  margin-right: 5px;
}

/* トップページここまで */

/* 以下、出口記入 */
.Modal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding-bottom: 50px; */

}

.Login-sign-modal {
  background: none;
  border: none;
  border-radius: 0px;
  height: fit-content;
  overflow: visible;
  /* "none" は無効な値なので "visible" を使用 */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Login_modal_Button {
  margin-top: 16px !important;
  margin-bottom: 8px !important;
}

.login_modal_items {
  font-size: 1rem !important;
}

.custom-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  /* 背景色を設定 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1300;
  /* 必要に応じて調整 */
}

/* モーダルが開いているときは背景がスクロールしないようにする */
.ReactModal__Body--open {
  position: fixed;
}

.disable-scroll {
  overflow: hidden;
}

.Modal form {
  /* position: relative; */
  background-color: white;
  width: 100%;
  max-width: 600px;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #dfdfdf;
  font-weight: 700;
}




.loginUiForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 90px);
}

.loginFormField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loginFormField input {
  border: 1px solid grey;
  padding: 20px;
  border-radius: 10px;
}

.loginFormField input:focus {
  outline: none;
}

.loginFormField label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 3px;
}






.signUpUiForm button {
  background-color: #f3f6fc;
  width: 100%;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  color: black;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s;
}

/* button:hover {
  background-color: #175892;
} */

.errorMsg {
  color: red;
  margin: 0;
  align-self: flex-start;
}

.preSignUpFormContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preSignUpFormContainer form {
  background-color: white;
  width: 70%;
  max-width: 450px;
  padding: 30px;
  border-radius: 50px;
  border: 1px solid #dfdfdf;
  font-weight: 700;
}

.preSignUpUiForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 250px;
}

.preSignUpFormField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.preSignUpFormField input {
  border: 1px solid grey;
  padding: 20px;
  border-radius: 10px;
}

.preSignUpFormField input:focus {
  outline: none;
}

.preSignUpFormField label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 3px;
}

.signUpFormContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUpFormContainer form {
  background-color: white;
  width: 700%;
  max-width: 500px;
  padding: 30px;
  border-radius: 50px;
  border: 1px solid #dfdfdf;
  font-weight: 700;
}

.signUpUiForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  float: left;
  justify-content: space-evenly;
  height: 500px;
  width: 100%;
  padding-right: 10px;
}

.signUpUiForm::-webkit-scrollbar {
  background: white;
  width: 10px;
  height: 5px;
}

.signUpUiForm::-webkit-scrollbar-thumb {
  background-color: #8b8b8b;
}


.signUpFormField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signUpFormField input {
  border: 1px solid grey;
  padding: 15px;
  width: 88%;
  border-radius: 10px;
}

.signUpFormField input:focus {
  outline: none;
}

.signUpFormField label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 3px;
}


.signUpUiForm .signUpFormField_name {
  /* float: left; */
  width: 100%;
}

.signUpFormField_name input {
  border: 1px solid grey;
  padding: 15px;
  border-radius: 10px;
  width: 40%;
  margin-right: 10px;
}

.signUpFormField_name input:focus {
  outline: none;
}

.signUpFormField_name label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 3px;
}

/* 作品投稿画面 ここから */

.WorkPostingFormContainer {
  /* height: 80vh;
  width: 70%;
  display: flex; */
  align-items: center;
  justify-content: center;
}

.WorkPostingFormContainer form {
  width: 100%;
  padding: 30px;
  border-radius: 50px;
  float: left;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}


.WorkPostingUiForm {
  height: 600px;
  width: 100%;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.WorkPostingUiForm::-webkit-scrollbar {
  background: white;
  width: 10px;
  height: 5px;
}

.WorkPostingUiForm::-webkit-scFrollbar-thumb {
  background-color: #8b8b8b;
}


.WorkPostingFormField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.WorkPostingFormField input {
  padding: 8px 13px;
  width: 100%;
  border-radius: 10px;
}

.WorkPostingImageFormField {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}

.WorkPostInputElements {
  width: 50%;
}

textarea {
  resize: none;
  width: 100%;
}

.ImageUpload {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  /* justify-content: space-between; */
  position: relative;
  border-radius: 5px;
  width: 30%;
  height: auto;
  margin-right: 6px;
}

.Image {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1 1 0%;
  padding-bottom: 10px;
}

.WorkInputElements {
  margin-top: 6px !important;
  margin-bottom: 0px !important;
}

.WorkInformation {
  display: flex;
  flex-direction: column;
  /* overflow-y: auto; */
  border-radius: 5px;
  max-width: 1200px;
  min-width: 300px;
  height: auto;
  margin-left: 6px;
  box-sizing: border-box;
  padding-right: 10px;
}


.postingInput {
  text-align: right;
  /* padding-top: 20px; */
  width: 100%;
  max-width: 1200px;
  min-width: 300px;
}

.WorkSubmit {
  background: #4BA2FB;
  border: 2px solid #4BA2FB;
  border-radius: 5%;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1em;
  padding: 9px 32px;
  margin-top: 20px;
  text-align: center;
  transition: .3s;
  width: fit-content;
}


.WorkSubmit:hover {
  color: #4BA2FB;
  background: #ffffff;
}

.css-1pv2561-MuiInputBase-root-MuiOutlinedInput-root:hover {
  border-color: #3399FF;
}



/* 作品投稿画面 ここまで */
.ImageUproadElements {
  width: inherit;
}

.imageUproadButton {
  display: flex;
  flex-direction: column;
  border-width: 2px;
  border-style: dashed;
  border-color: #4ba2fb;
  border-radius: 5px;
  height: 12.0625rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  transition: 0.2s;
}

.imageUproadButton:hover {
  background-color: #a9a9a9 !important;
}

.workImageDeleteButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background: white;
  color: red;
  border-color: red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 2;
  font-size: 20px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.workImageDeleteButton:hover {
  background: red;
  color: white;
  border-color: white;
}

.postingTextArea {
  width: 100%;
  max-width: 1200px;
  min-width: 300px;
}

/* 動画投稿画面 ここから */

.VideoPostingFormContainer {
  /* height: 80vh;
  width: 70%;
  display: flex; */
  align-items: center;
  justify-content: center;
}

.VideoPostingFormContainer form {
  width: 100%;
  padding: 30px;
  border-radius: 50px;
  float: left;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.VideoPostingUiForm {
  height: 600px;
  width: 100%;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.VideoPostingUiForm::-webkit-scrollbar {
  background: white;
  width: 10px;
  height: 5px;
}

.VideoPostingUiForm::-webkit-scrollbar-thumb {
  background-color: #8b8b8b;
}


.VideoPostingFormField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.VideoPostingFormField input {
  padding: 8px 13px;
  width: 100%;
  border-radius: 10px;
}

.VideoPostingImageFormField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.VideoPostingUiForm {
  display: flex;
  flex-direction: row;
  /* float: left; */
}




.VideoSubmit {
  margin-top: 1%;
  border-radius: 5%;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  padding: 9px 32px;
  background: #4BA2FB;
  color: #ffffff;
  line-height: 1em;
  transition: .3s;
  border: 2px solid #4BA2FB;
  width: fit-content;
}


.VideoSubmit:hover {
  color: #4BA2FB;
  background: #ffffff;
}

/* 動画投稿画面 ここまで */

/* 作品一覧画面　ここから */
.list-view-Container {
  margin: 20px;
}

/* 作品アイテムホバー */
.item-stack {
  transition: 0.2s;
  border: 1px solid white;
}

/* 作品一覧ホバー */
.item-stack:hover {
  background-color: #f7f7f7;
}

.column-container {
  column-gap: 10px;
  column-count: 5;
  /* デフォルトは5カラム */
  width: 100%;
  /* 幅を100%に設定 */
  max-width: 1600px;
  /* 最大幅を設定（必要に応じて変更） */
  margin: 0 auto;
  /* 中央揃え */
}

.gallery-container {
  gap: 0px;
  column-count: 5;
  width: 100%;
  margin: 0 auto;
}

.postCard {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  margin: 5px -5px;
  border-radius: 1cqmin;
  width: "100%";
  background: white;
  padding: 5px;
}

.GalleryPostCard {
  margin: 0px 0px;
  border-radius: 20px;
  width: "100%";
  background: white;
  padding: 5px;
}

.VideoInformation {
  display: flex;
  flex-direction: column;
  /* overflow-y: auto; */
  border-radius: 5px;
  max-width: 1200px;
  min-width: 300px;
  height: auto;
  margin-left: 6px;
  box-sizing: border-box;
  padding-right: 10px;
}





.link {
  /* color: white; */
  color: #3F4551;

  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.item-Link {
  font-size: 16px;
  font-weight: Bold;
  text-decoration: none;
}

.item-Link:hover {
  text-decoration: none;
}

.custom-color-ring-wrapper {
  --spinner-animation-duration: 1s;
  /* デフォルトより速くする */
}

@keyframes color-ring-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.custom-color-ring-wrapper .color-ring {
  animation: color-ring-spin var(--spinner-animation-duration) linear infinite;
}





/* 作品一覧画面　ここまで */

/* -- 作品詳細 ここから -- */

/* モーダルスライド ・ ページネーション */
.inactive-slide {
  transform: scale(0.8);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.active-slide {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}


/* ギャラリーー */
.gallery_images {
  align-items: center;
  justify-content: center;
}

.gallery_img {
  object-fit: contain;
  border: 1px solid transparent;
}

.gallery_img:hover {
  border: 1px solid #41a4ff;
  background: #1C2025;
  /* transform: scale(1.1); */
}


/* 矢印の大きさを調整 */
.splide__arrow {
  width: 50px;
  /* 幅を設定 */
  height: 50px;
  /* 高さを設定 */
  font-size: 20px;
  /* 矢印アイコンのサイズ */
}

.render_More_Image_Count {
  width: 30%;
  height: 150px;
  background: #FFFFFF;
  border: 2px solid #F1F1F1;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 0px 0px 10px 10px;
  transition: 0.2s;
}

.render_More_Image_Count:hover {
  border-color: #328BFF;
  background-color: #F1F1F1;
  cursor: pointer;
}

.render_More_Image_Count_Int {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}



/* 作品の紹介・ジャンル・開発言語・開発環境などの項目 */
.WorkDetail_typo {
  padding: 20px 0 0 0;
}

.Detail_info {
  margin: 10px;
}

.Detail_info-intro {
  overflow-wrap: anywhere;
  white-space: pre-line;
  width: 100%;
  font-size: 16px;
}

.detailURL {
  color: #212B36 !important;
  text-decoration: none !important;
}

.detailURL:hover {
  color: #41a4ff !important;
  text-decoration: underline !important;
}


.top_comment_area {
  margin: 0px auto;
  /* divの隙間をなくす */
  line-height: 0;
}

.comment_area_parts {
  width: 80%;
  margin: 0 auto;
}

.comment_text_area {
  height: 100px;
  background: #FFFFFF;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  padding: 5px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06); */
}

.comment_text_area .items {
  background: #F9FAFB;
  width: fit-content;
  height: auto;
  border: none;
}

.comment_operation {
  width: 100%;
  padding-top: 5px;
  /* background: #ebebeb; */
  /* Rectangle 7 */
}

.comment_button {
  width: fit-content;
  margin-left: auto;
}

.comment_button button {
  border: none;
  /* background: #66B2FD; */
  /* color: #fff; */
  border: 1px solid #dfdfdf;
  margin: 5px;
}

.comment_button button:hover {
  border: none;
  /* background: #b4d8fc; */
  border: 1px solid #dfdfdf;
  /* color: #fff; */
  transition: 0.5s;
}

/* モーダルスライド */
.modal_slide_stack {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal_slide_area {
  width: 100%;
  height: 100%;
  z-index: 1301;
  display: flex;
  flex-direction: unset;
}

.annotation-container {
  word-break: break-word;
  border-left: 1px dashed #e0e0e0;
  padding: 10px;
  margin-left: 10px;
  overflow: scroll;
}

.slide-annotation {
  width: 100%;
  font-size: 16px;
}

.thumnbail_slide_area {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-custom-splide {
  width: 100%;
  height: 100%;
}

.modal-custom-splide-track {
  height: 100%;
  padding: 10px;
}


/* 作品詳細 　ここまで */



/* 一覧 */
/* @media (min-width : 600px) {
  .mediaCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 800px;
  }

  .itemGrid {
    width: 28%;
  }
} */

.postCardTopElement {
  margin: 5px;
}



.userNameLink {
  color: #3F4551;
  height: 30;
  font-size: 16px;
  font-weight: Bold;
  padding: 5px;
}

/* 通知削除ボタン */
.noticeDeleteButton:hover {
  cursor: pointer;
  background-color: #ffcccc;
}

/* 通知選択ボタン */
.noticeSelectButton {
  background-color: transparent;
  /* 通常時の背景色を透明に設定 */
  border: none;
  border-radius: 10px;
  /* ボーダーを消す */
  padding: 5px;
  /* ボタンのクリック領域を確保 */
  cursor: pointer;
  /* ホバー時にポインター表示 */
  transition: background-color 0.3s;
  /* 背景色の変化を滑らかにする */
}

.noticeSelectButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
  /* ホバー時に薄暗い背景色を追加 */
}

.deleteSingleNoticeButton {
  background-color: transparent;
  /* 通常時の背景色を透明に設定 */
  border: none;
  border-radius: 100%;
  /* ボーダーを消す */
  padding: 2px;
  /* ボタンのクリック領域を確保 */
  cursor: pointer;
  /* ホバー時にポインター表示 */
  transition: background-color 0.3s;
  /* 背景色の変化を滑らかにする */
}

.deleteSingleNoticeButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
  /* ホバー時に薄暗い背景色を追加 */

}


.deleteSingleNoticeIcon {
  transition: color 0.8s ease;
  /* 背景色の変化を滑らかにする */
}

.deleteSingleNoticeIcon:hover {
  color: lightgrey;
  cursor: pointer;
}


.selectBoxInfo {
  -webkit-min-logical-width: 150px;
}


.MyPageEditItems {
  font-size: 16px !important;
  /* margin-top: 6px !important;
  margin-bottom: 0px !important; */
}

/* プレースホルダー */
.MyPageEditItemTags__placeholder {
  color: #aaa;
  font-style: italic;
}

/* メニュー全体 */
.MyPageEditItemTags__menu {
  background-color: #f9f9f9;
}

/* メニュー内のオプション */
.MyPageEditItems__multi-value__label {
  font-size: 16px !important;
  color: #333;
}

.stack_follow_status {
  width: fit-content !important;
}

.follow_status {
  background-color: #328BFF;
  padding: 2px 4px;
  color: white;
  border-radius: 10px;
}


.userName_items {
  font-size: 1rem !important;
}

.news_list_view_items {
  width: 100%;
  padding: 10px !important;
  cursor: pointer;
}

.news_acordion_button {
  color: #3F4551 !important;
  justify-content: left !important;
  border-radius: 0px !important;
}

.news_job_acordion_menu {
  /*  横並び */
  display: flex !important;
  /* 必要に応じて折り返す */
  flex-wrap: wrap !important;
  /* 要素間の間隔 */
  gap: 1 !important;
  /* 垂直方向の整列 */
  align-items: center !important;
  padding: 16px 20px !important;
  white-space: normal !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}

/* コンテナ全体 */
.handshake-container {
  position: relative;
  width: 300px;
  height: 150px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 上腕（固定部分） */
.arm {
  position: relative;
  width: 80px;
  height: 20px;
  background-color: #f4a261;
  /* 肌色 */
  border-radius: 10px;
  /* 丸みをつける */
  display: flex;
  justify-content: flex-end;
  /* 前腕を右端に配置 */
}

/* 左腕 */
.left-arm {
  transform: rotate(20deg);
  transform-origin: left center;
  /* 左側の軸を基準に回転 */
}

/* 右腕 */
.right-arm {
  transform: rotate(-20deg);
  transform-origin: right center;
  /* 右側の軸を基準に回転 */
}

/* 前腕（動く部分） */
.forearm {
  width: 60px;
  height: 20px;
  background-color: #2a9d8f;
  /* 緑色 */
  border-radius: 10px;
  /* 丸みをつける */
  position: relative;
  transform-origin: left center;
  /* 左側を基準に揺れる */
  animation: forearm-swing 1.5s infinite ease-in-out;
  /* 揺れるアニメーション */
  top: -10px;
  /* 上腕と自然につながるように調整 */
}

.requiredInput {
  color: red;
}

.MuiInputBase-input::placeholder {
  font-size: 16px;
  color: #1C2025 !important;
}

.css-1jqq78o-placeholder {
  font-weight: normal;
}

textarea::-webkit-input-placeholder {
  font-size: 16px;
}

textarea::-moz-placeholder {
  font-size: 16px;
}

textarea:-ms-input-placeholder {
  font-size: 16px;
}

textarea::placeholder {
  font-size: 16px;
}

.work_after_posting {
  display: flex;
  justify-content: center;
  /* 横方向に中央揃え */
  align-items: center;
  /* 縦方向に中央揃え */
  min-height: calc(100vh - 138px);
  /* 画面の高さを最低でも取る */
  width: 100%;
  /* 横幅を100%にする */
  padding: 0;
  /* 余計なパディングがないことを確認 */
  box-sizing: border-box;
  /* パディングやボーダーのサイズが含まれるようにする */
}

.tagButton {
  font-size: 12px;
  background-color: white;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  width: fit-content;
}

.commentMypageLink {
  text-decoration: none;
  color: #212B36;
}

.commentMypageLink:hover {
  text-decoration: underline;
  color: #1877F2;
}


/* 前腕の揺れアニメーション */
@keyframes forearm-swing {

  0%,
  100% {
    transform: rotate(0);
    /* 元の位置 */
  }

  50% {
    transform: rotate(-10deg);
    /* 下に振れる */
  }
}


@media (max-width: 1700px) {
  .searchbar {
    width: 40% !important;
    height: 70% !important;
  }

  .arrow_up_ward_icon {
    bottom: 50px !important;
    width: 40px !important;
    height: 40px !important;
  }

  .column-container,
  .gallery-container {
    column-count: 4;
  }

  .column-container {
    column-gap: 13px;
  }

  .render_More_Image_Count {
    width: 35%;
  }

  .MuiInputBase-input::placeholder {
    font-size: 14px;
    color: #1C2025 !important;

  }

  .VideoPostingFormContainer form {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .loginSotushin2025 {
    padding-bottom: 10px;
  }

  .panel-container {
    margin-right: 0px;
  }


  .searchbar {
    width: 50% !important;
    height: 70% !important;
  }

  .arrow_up_ward_icon {
    bottom: 20px !important;
    width: 40px !important;
    height: 40px !important;
  }

  .column-container,
  .gallery-container {
    column-count: 3;
  }

  .column-container {
    column-gap: 10px;
  }

  .render_More_Image_Count {
    width: 40%;
  }

  .top_page_wrapper {
    height: 80vh;
  }

  .top_page_content {
    justify-content: center;
    align-items: center;
  }

  .top_page_message {
    font-size: 3.5rem;
    color: white;
  }

  .top_page_messege_span,
  .top_page_messege_span_second {
    color: white;
    font-size: 4.5rem;
  }

  .top_page_phone_size_box {
    position: fixed;
    bottom: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .top_page_phone_size_button {
    width: 50%;
    border-radius: 50px !important;

  }

  .top_page_phone_size_button:first-child {
    margin-bottom: 10px;
  }

  .MuiInputBase-input::placeholder {
    font-size: 12px;
    color: #1C2025 !important;

  }
  .panel-content {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {

  .modal_slide_area {
    flex-direction: column;
  }

  .thumnbail_slide_area {
    display: none !important;
  }

  .splide__arrow {
    display: none !important;
  }


  .modal_slide_area_first_stack {
    width: 100% !important;
  }

  .annotation-container {
    width: 100% !important;
    border-left: none;
    margin-left: 0px;
    height: 100%;
    padding-bottom: 20px;
  }

  .slide-annotation {
    font-size: 12px;
  }

  .Detail_info-intro {
    font-size: 12px;
  }

  .button-container {
    width: 90%;
  }

 

  .arrow_up_ward_icon {
    bottom: 110px !important;
    width: 40px !important;
    height: 40px !important;
  }

  .searchbar {
    width: 60% !important;
    height: 70% !important;
  }

  .Modal form {
    width: 80%;
    height: fit-content;
  }

  .login_modal_items {
    font-size: 1rem;
  }

  .column-container,
  .gallery-container {
    column-count: 2;
  }

  .column-container {
    column-gap: 7px;
  }



  .top_page_message {
    font-size: 2.5rem;
    color: white;
  }

  .top_page_messege_span,
  .top_page_messege_span_second {
    color: white;
    font-size: 3.0rem;
  }


  .render_More_Image_Count {
    width: 45%;
  }

  .top_page_phone_size_button {
    width: 60%;
    border-radius: 50px !important;

  }

  /* 作品投稿 */
  .WorkPostingFormContainer {
    height: fit-content;
    width: 100%;
    display: flex;
    overflow: scroll;
  }

  .WorkPostingFormContainer form {
    max-width: 600px;
  }

  .WorkPostingUiForm {
    /* position: relativeを無効にする */
    position: static;
    flex-direction: column;
    height: fit-content;
    padding-right: 0px;
  }

  .WorkPostInputElements {
    width: 100%;
  }

  .ImageUpload {
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: 600px;
  }

  .WorkSubmit,
  .VideoPostingUiForm {
    /* position: relativeを無効にする */
    position: static;
  }

  .WorkInformation,
  .VideoInformation {
    padding: 0;
    margin: 0;
    overflow: unset;
  }


  .VideoPostingFormContainer {
    height: fit-content;
    width: 100%;
    display: flex;
    overflow: scroll;
  }



  .VideoPostingUiForm {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .VideoInformation {
    width: 100%;
    position: static;
  }

  .VideoSubmit {
    position: static;
  }

  .MuiInputBase-input::placeholder {
    font-size: 14px;
    color: #1C2025 !important;

  }

  textarea::-webkit-input-placeholder {
    font-size: 14px;
  }

  textarea::-moz-placeholder {
    font-size: 14px;
  }

  textarea:-ms-input-placeholder {
    font-size: 14px;
  }

  textarea::placeholder {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .button-container {
    width: 100%;
  }

  .panel-container {
    width: 100%;
    margin-right: 0px;
  }

  .searchbar {
    width: 70% !important;
    height: 70% !important;
  }

  .arrow_up_ward_icon {
    bottom: 110px !important;
    width: 40px !important;
    height: 40px !important;
  }

  .Modal form {
    width: 90% !important;
    height: fit-content !important;
  }

  .login_modal_items {
    font-size: 0.9375rem !important;
  }

  .column-container,
  .gallery-container {
    column-count: 1;
  }

  .column-container {
    column-gap: 5px;
  }

  .MyPageEditItems {
    font-size: 14px !important;
  }

  .MyPageEditItems__multi-value__label {
    font-size: 14px !important;
  }

  .render_More_Image_Count {
    width: 50%;
  }

  .top_page_phone_size_button {
    width: 70%;
    border-radius: 50px !important;

  }

  .top_page_message {
    font-size: 1.5rem;
    color: white;
  }

  .top_page_messege_span,
  .top_page_messege_span_second {
    color: white;
    font-size: 2.0rem;
  }

  .MuiInputBase-input::placeholder {
    font-size: 12px;
    color: #1C2025 !important;

  }

  textarea::-webkit-input-placeholder {
    font-size: 12px;
  }

  textarea::-moz-placeholder {
    font-size: 12px;
  }

  textarea:-ms-input-placeholder {
    font-size: 12px;
  }

  textarea::placeholder {
    font-size: 12px;
  }
}

@media (max-width: 400px) {

  .panel-container {
    width: 90%;
    margin-right: 0px;
  }



  .slide-annotation {
    font-size: 12px;
  }

  .Detail_info-intro {
    font-size: 12px;
  }



  .searchbar {
    width: 80% !important;
    height: 70% !important;
  }

  .arrow_up_ward_icon {
    bottom: 110px !important;
    width: 40px !important;
    height: 40px !important;
  }

  .Modal form {
    width: 100% !important;
    height: fit-content !important;
  }

  .login_modal_items {
    font-size: 0.875rem !important;
  }

  .column-container {
    column-gap: 2px;
  }

  .top_page_phone_size_button {
    width: 80%;
    border-radius: 50px !important;

  }

  .top_page_message {
    font-size: 1.2rem;
    color: white;
  }

  .top_page_messege_span,
  .top_page_messege_span_second {
    color: white;
    font-size: 1.4rem;
  }

  .MuiInputBase-input::placeholder {
    font-size: 11px;
    color: #1C2025 !important;

  }


  textarea::-webkit-input-placeholder {
    font-size: 11px;
  }

  textarea::-moz-placeholder {
    font-size: 11px;
  }

  textarea:-ms-input-placeholder {
    font-size: 11px;
  }

  textarea::placeholder {
    font-size: 11px;
  }

  /*
  .sd-root-modern .sd-container-modern__title{
    padding-left:10% !important;
  } */

}