.NewsDetailContainer {
    position: relative;
    top: 1%;
    /* 100pxから150pxに変更 */
    width: 100%;
}


.NewsDetailHeader {
    display: flex;
    justify-content: center;
    /* 横方向に中央揃え */
    align-items: center;
    /* 縦方向に中央揃え */
    padding-top: 5%;
    width: 100%;
}

.news_headerimg {
    width: 50%;
    height: 50%;
}

.news_img {
    position: relative;
    width: 90%;
    height: 90%;
    left: 3%;
}

.Company_News_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.news_company_name {
    /* テキストの幅に合わせるための設定 */
    color: inherit;
    font-size: 15px;
    /* 既に指定されたサイズを使用 */
    /* 高さはそのままにしておく */
    font-weight: 200;
    cursor: pointer;
}

.news_created_at {
    padding-top: 5px;
    /* テキストの幅に合わせるための設定 */
    color: inherit;
    font-size: 10px;
    /* 既に指定されたサイズを使用 */
    height: 30px;
    /* 高さはそのままにしておく */
    overflow: hidden;
}

.news_company_profile {
    margin-left: 10px;
}


.news_font {
    padding: 10px;
}

.news_summary {
    position: relative;
    width: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 10%;
    left: 25%;
    margin: -25px 0 0;
}


.previous_back_article_stack {
    border-top: 1px solid;
    padding-top: 3%;
}


.news_genre {
    width: 120px;
    font-size: 10px;
    padding: 8px 16px;
    margin: 4px;
    background: linear-gradient(#41A4FF, #9198e5);
    /* 背景色の設定 */
}

.news_genre:hover {
    background: linear-gradient(#c2c2c2, #e5ad91);
    /* ホバー時の背景色設定 */
}


.genre_update {
    display: "flex";
    flex-direction: "column";
    align-items: "flex-start";
    padding-left: "10%";
}

.popup_menu {
    /* 上端に固定するCSS */
    position: fixed;
    top: 80px;
    left: 15%;
    width: 80%;
    height: 50px;

    /* バーの装飾 */
    background-color: white;
    /* 背景色 */
    color: black;
    /* 文字色 */
    box-shadow: 1px 1px 1px black, 0.1em 0 .4em black;
    /* 影 */

    /* Flexboxを使って内容を中央に揃える */
    display: flex;
    align-items: center;
    /* 垂直方向の中央揃え */
    padding: 0 2%;
    /* 内側の余白 */
    z-index: 2;
}

.popup_menu.invisible {
    opacity: 0;
    /* 初期状態は透明 */
    transform: translateY(-20px);
    /* 初期状態は少し上に移動 */
    transition: opacity 2.0s ease, transform 2.0s ease;
    /* フェードインと上下移動のアニメーション */
}

.popup_menu.visible {
    opacity: 1;
    /* 完全に表示 */
    transform: translateY(0);
    /* 元の位置に戻る */
}

.popup_menu p {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

.NewsSelect_Box {
    font-size: 13px;
    padding: 0px;
}

.news_title {
    padding-top: 10px;
    font-size: 20px;
}

.Menu {
    top: 80px;
    background-color: #F9FAFB;
    z-index: 1;
    height: auto;
}


.NewsDetail_Stack {
    width: 100%;
    padding-top: 1%;
}

.Menu_Divider {
    margin-top: 10px;
    border-color: #000;
    /* 線の色を黒に設定 */
}

.NewsDetail_Button {
    width: auto;
    font-size: 12px;
    padding: 8px 16px;
    margin: 4px;
}

.Apply_Button {
    font-size: 12px;
    padding: 8px 16px;
    margin: 4px;
}

.css-1szdb53-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    color: white;
}

.previous_back_article_stack {
    padding-top: 5%;
    padding-bottom: 10%;
    align-items: center; /* 子要素を中央揃え */
    display: flex; /* フレックスボックスでレイアウト */
    justify-content: space-between; /* 左右に均等配置 */
}

.PreviousNews, .NextNews {
    display: flex; /* フレックスボックスで子要素を整列 */
    align-items: flex-start; /* 子要素を上揃え */
    gap: 10px; /* アイコンと内容の間に余白を追加 */

}

.PreviousNews_content, .NextNews_content {
    display: flex; /* テキストを縦に並べる */
    flex-direction: column; /* 子要素を縦方向に整列 */
}

.PreviousNews_span, .NextNews_span {
    font-size: 15px;
    cursor: pointer;
}

.PreviousNews_text, .NextNews_text {
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 500px;
}

.PreviousNews_icon, .NextNews_icon {
    font-size: 40px;
}

.EventDayAlert{
    width: 120px;
    font-size:12px;
    padding-right: 20%;

}

.css-r3djoj-MuiTouchRipple-root{
    margin: 0;
}

.css-pl8gqh-MuiStack-root>:not(style):not(style) {
    margin: 10px;
}



@media(max-width:1700px) {

    body {
        scrollbar-width: 100px;
    }

    .previous_back_article_stack {
        padding-top: 3%;
        padding-bottom: 5%;
        padding-left: 4%;
    }

    .News_Header{
        position: relative;
        left: 5%;
        width: 90%;
        max-width: 100%;
    }

}

@media(max-width:1200px) {


    .news_summary {
        top:20px;
        width: 80%;
        padding-top: 5%;
        align-items: center;
        left: 15%;
        font-size: 25px;
    }

    .news_headerimg {
        width: 80%;
    }

    .previous_back_article_stack {
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 4%;

    }

    .NextNews_text,
    .PreviousNews_text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 200px;
        font-size: 20px;
    }

    .NextNews_icon,
    .PreviousNews_icon {
        font-size: 60px;
    }


    .Menu {
        top: 60px;
        height: auto;
    }

    .NewsDetail_Stack {
        width: 100%;
        justify-content: center;
    }

    .NewsDetail_Button {
        font-size: 20px;
    }

    .Apply_Button {
        font-size: 20px;
    }

    .news_title {
        font-size: 25px;
    }

    .day_information {
        font-size: 20px;
    }

    .news_created_at {
        font-size: 20px;
    }

    .news_company_name{
        font-size: 20px;
    }

    .NewsDetail_Stack{
        padding-top:3%;
    }



}

@media(max-width:900px) {

    .news_summary {
        top: 20px;
        width: 80%;
        padding-top: 5%;
        padding-bottom: 5%;
        align-items: center;
        left: 15%;
        font-size: 20px;
    }

    .news_headerimg {
        width: 80%;
    }


    .previous_back_article_stack {
        padding-top: 3%;
        padding-bottom: 15%;
        padding-left: 4%;
    }

    .NextNews_text,
    .PreviousNews_text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 200px;
        font-size: 20px;
    }

    .NextNews_icon,
    .PreviousNews_icon {
        font-size: 60px;
    }

}



/* スマホサイズの場合 */
@media (max-width: 600px) {

    .News_Tabs {
        justify-content: center;
    }

    .tabBox {
        width: 100%;
    }

    .news_company_name {
        font-size: 1rem;
        height: 30px;
    }

    .news_created_at {
        font-size: 10px;
    }

    .NewsDetail_Stack {
        width: 100%;
        justify-content: center;
    }

    .NewsDetail_Button {
        font-size: 10px;
    }

    .Apply_Button {
        font-size: 10px;
    }

    .news_summary {
        padding-top: 5%;
        padding-bottom: 10%;
        font-size: 15px;
        left: 10%;
    }

    .Menu {
        top: 60px;
        height: auto;
    }

    .day_information {
        font-size: 10px;
    }

    .previous_back_article_stack {
        padding-top: 3%;
        padding-bottom: 20%;
        padding-left: 4%;
    }

    .NextNews_text,
    .PreviousNews_text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 110px;
        font-size: 12px;
    }


.PreviousNews_span, .NextNews_span {
    font-size: 10px;
    cursor: pointer;
}

.NextNews_icon,
.PreviousNews_icon {
    font-size: 40px;
}


    .news_headerimg {
        width: 80%;
        height: 10%;
    }

    .news_title {
        width: 90%;
        padding-top: 10px;
        font-size: 15px;
    }

}

@media (max-width: 400px) {

    .News_Tabs {
        justify-content: center;
        /* 中央寄せ */
    }

    .tabBox {
        width: auto;
    }

    .news_headerimg {
        width: 80%;
        height: 10%;
    }

    .news_summary {
        top: 20px;
        padding-bottom: 10%;
        left: 10%;
    }


    .previous_back_article_stack {
        padding-top: 3%;
        padding-bottom: 25%;
        padding-left: 3%;
    }

    .NextNews_text,
    .PreviousNews_text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 110px;
        font-size: 12px;
    }


.PreviousNews_span, .NextNews_span {
    font-size: 10px;
    cursor: pointer;
}


    .news_title {
        width: 90%;
        padding-top: 10px;
        font-size: 15px;
    }

    .day_information {
        font-size: 10px;
    }

    .css-pl8gqh-MuiStack-root>:not(style):not(style) {
        margin: 0;
    }

    .news_created_at {
        font-size: 10px;
    }

    .NewsDetail_Button {
        font-size: 10px;
    }

    .Apply_Button {
        font-size: 10px;
    }

    .NewsSelect_Box {
        font-size: 12px;
        padding: 0px;
    }




}