/* style.css */


  .information_table td {
    position:relative;
    width: 500px;
    height:10px;
    border: 2px solid black; /* Specify border width, style, and color */
    text-align: center;
    align-items: center;
    margin: auto;
  }
