/* style.css */



  .information_table td {
    position:relative;
    width: 500px;
    height:10px;
    text-align: center;
    align-items: center;
    margin: auto;
  }

  @media(max-width:600px){
    .ProfileTabs{
      justify-content: center;
      align-items: center;
    }
  }

  @media(max-width:400px){
    .ProfileTabsBox{
      min-width:85px;
    }
    
  }




