<<<<<<< HEAD
/* style.css */



  .information_table td {
    position:relative;
    width: 500px;
    height:10px;
    text-align: center;
    align-items: center;
    margin: auto;
  }


  
=======
/* style.css */



  .information_table td {
    position:relative;
    width: 500px;
    height:10px;
    text-align: center;
    align-items: center;
    margin: auto;
  }


  
>>>>>>> 3c5789677e38c908589a20c4b753cb2d7d8e5230
  