.WriteForm_Container{
    height:100%;
    width:100%;
}

.WriteForm {
    width:800px;
    /* min-width: 100%; */
    margin-left: 50%;
    margin-bottom:10px;
    align-items: center; /* 縦の中央揃え */
}

.sv-string-viewer{
    width:100%;
    font-size: 15px;
}

.FormApplyButton{
    position: relative;
    width: 100px;
    border-color:#5956FF;
    color:#5956FF;
    margin-left:20%;
}

.FormApplyButton:hover{
    cursor:pointer;
}

.sd-header__text .sd-title span{
    margin-left: 5%;
    font-size:20px;
}

@media(max-width:1700px){
    .WriteForm {
        width: 80%;
        margin-left:0;
    }


    .FormApplyButton{
        position: relative;
        margin-left: 0%;
        width: 200px;
        font-size:20px;
    }

}

@media(max-width:1200px){
    .WriteForm {
        width: 80%;
        margin-bottom:10px;
        align-items: center; /* 縦の中央揃え */
    }

    .sv-string-viewer{
        font-size: 25px;
    }
    .NewsDetailBackButton{
        font-size:40px;
    }

    .sd-element__title span {
        font-size:20px;
    }

    .sd-title.sd-container-modern__title{
        width:100vw;
        padding: 0;
    }

    .sd-input{
        font-size:100%;
    }

    .FormApplyButton{
        position: relative;
        margin-left: 10%;
        width: 200px;
        font-size:30px;
    }

    .WriteForm_Container{
        padding-top: 5%;
        padding-bottom: 10%;
    }

    .sd-title.sd-container-modern__title{
        padding: 10px;
    }

    .sd-header__text .sd-title span{
        margin-left: 5%;
    }
}



@media(max-width:900px){
    .WriteForm {
        width:100vw;
        margin-left: 0;
        margin-bottom:10px;
        align-items: center; /* 縦の中央揃え */
    }

    .sv-string-viewer{
        font-size: 15px;
    }
    .NewsDetailBackButton{
        font-size:30px;
    }

    .sd-element__title span {
        font-size:15px;
    }

    .sd-title.sd-container-modern__title{
        padding: 0;
    }

    .sd-input{
        font-size:80%;
    }

    .FormApplyButton{
        position: relative;
        width: 150px;
        font-size:20px;
        margin-left:0px;
    }

    .WriteForm_Container{
        padding-bottom: 10%;
        padding-top: 5%;
    }

    .sd-header__text .sd-title span{
        margin-left: 5%;
    }
}

@media(max-width:600px){
    .WriteForm {
        width: 100vw;
        margin-left: 0;
        margin-bottom:10px;
        align-items: center; /* 縦の中央揃え */
        padding-bottom: 3%;
    }

    .sd-header__text .sd-title span{
        margin-left: 5%;
    }

    .sv-string-viewer{
        font-size: 15px;
    }
    .NewsDetailBackButton{
        font-size:30px;
    }

    .sd-element__title span {
        font-size:15px;
    }

    .sd-title.sd-container-modern__title{
        padding: 0;
    }

    .sd-input{
        font-size:80%;
    }

    .FormApplyButton{
        position: relative;
        width: 100px;
        font-size:15px;
        margin-left: 5%;
    }

    .WriteForm_Container{
        padding-bottom: 10%;
    }

}

@media (max-width: 400px) {
    .WriteForm {
        width: 100vw;
        margin-bottom: 10px;
    }

    .MuiStack-root .css-1x68ktx-MuiStack-root{
        width: 100vw;
    }

    .WriteForm_Container{
        padding-top: 5%;
        padding-bottom: 10%;
    }

    .sd-header__text .sd-title span{
        font-size:15px;
    }

    .sv-string-viewer {
        font-size: 12px;
    }

    .NewsDetailBackButton {
        font-size: 30px;
    }

    .sd-element__title span {
        font-size: 12px;
    }

    .sd-title.sd-container-modern__title {
        padding: 0;
    }

    .sd-input {
        font-size: 70%;
    }

    .FormApplyButton {
        position: relative;
        width: 80px;
        margin-left: 5%;
        border-color: #5956FF;
        color: #5956FF;
        font-size: 12px;
    }
/* 
    .sv-list{
        width: 100%;
        height: 50%;
        top: 50%;
    } */

    /* .sv-list__container{
        position: fixed;
        top: 10;
        left: 0;
        width: 100%;
        background-color: #5956FF;
    } */


        /* .sv-popup--overlay .sv-popup__body-footer .sv-action-bar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #5956FF;
            z-index: 1000;
        } */

}

/* .sd-header__text .sd-title {
    color:black;
} */

/* .sd-title .sd-container-modern__title{
    background-color: violet !important;
} */

