.answerer-profile {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 40%;
}

.profile-header {
  display: flex;
  align-items: center;
}

.profile-link {
  margin-right: 8px;
}

.answerer-name {
  color: black;
  height: 30px;
  font-weight: bold;
  padding: 5px;
}

.answerer-avatar {
  width: 30px;
  height: 30px;
}



.title-box {
  margin-left: 50px;
}

.form-stack {
  margin-left: 10px;

}

.css-1egy869-MuiList-root {
  height: 100%;
}

.write-form {
  display: block;
  border-radius: 8px;
  padding: 10px 10px 24px;
  width: 400px;
  height: auto;
  overflow: hidden;
}

.writeformshow {
  width: 400px;
  flex-grow: 1;
}

.summary-form {
  display: block;
  border-radius: 8px;
  padding: 20px 5px 10px 5px;
  width: 100%;
  margin-left: 0%;
  height: auto;
  overflow: auto;
  background-color: #FFFFFF;
}

.writeform-container {
  border: 1px solid rgb(218, 220, 224);
  margin-bottom: 12px;
  margin-left: 10px;
}


.writeform-answereddata {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 20px;
  color: rgb(32, 33, 36);
  border-radius: 4px;
  padding: 10px;
  white-space: pre-line;
  cursor: pointer;
  border-color: inherit;
  margin-bottom: 8px;
  width: 100%;
}

.writeform-answereddata:hover {
  background-color: rgba(201, 201, 204, .48);
}

.writeform-title {
  border: 1px solid rgb(218, 220, 224);
  border-collapse: collapse;
  padding: 5px 15px 5px;
}

.writeform-length {
  width: 140px;
  font-size: 14px;
  padding: 5px 15px 5px;
}

.showgraph-length {
  width: 150px;
  font-size: 14px;
  padding: 5px 15px 5px;
  margin-left: 30%;
  cursor: pointer;
}

.showgraph-length:hover {
  background-color: rgb(218, 220, 224);
}

.circle_number {
  width: 20px;
  height: 20px;
  padding-top: 0px;
  background-color: #DA523A;
  /*  */
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
}

.news-list {
  border-bottom: 1px solid #DAE2ED;
}

.question {
  background-color: #FFFFFF;
  width: 100%;
  padding-top: 5%;
}

.question.p {
  font-size: 20px;
}

.Individual {
  padding-top: 5%;
  background-color: #FFFFFF;
  height: auto;
}

.sd-root-modern {
  -webkit-font-smoothing: antialiased;
  --sd-mobile-width: 600px;
  --sd-timer-size: calc(18 * var(--sjs-base-unit, var(--base-unit, 8px)));
  width: 100%;
  font-family: var(--sjs-font-family, var(--font-family, var(--sjs-default-font-family)));
  background-color: #F9FAFB; /* ここを変更 */
  position: relative;
}
.title-dropdown {
  width: 80%;
  margin-left: 10%;
  background-color: #FFFFFF;
}


.question-slider {
  width: 60%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 5%;
  margin-left: 20%;
  justify-content: center;
  background-color: #FFFFFF;
}

.selected_qustion {
  position: relative;
  left: 10%;
  padding-bottom: 5%;
}

.questions {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px;
  margin-bottom: 12px;
  padding-left: 10px;
  margin-top: 12px;
  max-width: 300px;
  height: auto;
}

.bar {
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
  width: 210px;
}

.ShowGraph {
  text-align: right;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  /* オーバーレイの背景色 */
  z-index: 1200;
  /* オーバーレイの z-index */
  width: 100%;
  height: 100%;
  position: fixed;
  /* 全画面に表示させるため */
  top: 0;
  left: 0;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 4%;
  /* モーダルの角丸 */
  padding: 1.5rem;
  /* overflow: hidden; */
  z-index: 1300;
  /* コンテンツの z-index */
  height: 50%;
  /* モーダルの高さ */
  width: 50%;
  /* モーダルの幅 */
  background-color: white;
  /* コンテンツの背景色 (必要に応じて追加) */
}

.border_surround {
  height: 30%;
  width: 350px;
  position: absolute;
  left: 30%;
  transform: translateX(-50%);
  top:70%;
  gap:10px;
}


.GraphSelectButton {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  overflow: hidden;
  width: 800px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 5%;
}


.GraphBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.GraphButton {
  width: 130px;
  height: 50px;
  font-size: 12px;
  margin-top: 20%;
}

.CreateForm_Cancel_Button{
  cursor: pointer;
}

.CreateForm_Cancel_Button:hover{
  background-color: lightgray;
}


.css-1sazv7p-MuiStack-root>:not(style):not(style){
  margin-top: 5px;
}


@media(max-width:1700px){
  .modal-content {
    height: 90%;
    width: 80%;
    overflow: hidden;
  }

  .GraphBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .border_surround{
    height:30%;
    width:700px;
    margin-left: 0%;
  }

  .GraphSelectButton {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
    width: 700px;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
    padding-top: 1%;
    padding-bottom: 5%;
  }

  .GraphButton {
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-top: 20%;
  }

  .css-1sazv7p-MuiStack-root>:not(style):not(style){
    margin-top: 5px;
  }

}

/* max-width: 1700px */
@media(max-width:1200px){
  .modal-content {
    height: 90%;
    width: 80%;
    overflow: hidden;
  }

  .GraphBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .border_surround{
    height:30%;
    width:700px;
    margin-left: 0%;
  }

  .GraphSelectButton {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: auto;
    width: 700px;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 5%;
  }

  .GraphButton {
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-top: 20%;
  }

  .css-1sazv7p-MuiStack-root>:not(style):not(style){
    margin-top: 5px;
  }

}

@media(max-width:900px){
  .modal-content {

    width: 95%;
    height: 70%;
  }

  .GraphBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .border_surround {
    height: 30%;
    width: 350px;
    position: absolute;
    left: 20%;
    transform: translateX(-50%);
    top:70%;
    gap:10px;
  }

  .GraphSelectButton {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: auto;
    width: 800px;
    height: 90%;
    justify-content: center;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 5%;
  }

  .GraphButton {
    position: relative;
    width: 200px;
    height: 50px;
    font-size: 15px;
    margin-top: 20%;
  }

  .css-1sazv7p-MuiStack-root>:not(style):not(style){
    margin-top: 5px;
  }

}

@media(max-width:600px){

  .writeformshow {
    margin-top: 5%;
    margin-left:3%;
    width: 350px;
  }

  .write-form {
    display: block;
    border-radius: 8px;
    padding: 10px 10px 24px;
    width: 350px;
    height: auto;
    overflow: hidden;
  }

  .summary-form {
    display: block;
    border-radius: 8px;
    width: 95%;
    margin-left: 5%;
    height: auto;
    overflow: auto;
  }

  .FormSelect-Box {
    width: 90%;
    align-items: center;
    margin-left: 5%;
  }

  .question {
    width: 90%;
    padding-top: 10%;
    margin-left: 0%;
  }

  .questions {
    width: 90%;
  }

  .title-dropdown {
    margin-left: 15%;
    background-color:#FFFFFF;
  }

  .question-slider {
    margin-left: 5%;
    padding-top: 5%;
    justify-content: center;
  }

  .Survey-Box {
    width: 100%;
    padding-top: 5%;
    margin-left: 0%;
  }

  .showgraph-length {
    margin-left: 25%;
  }

  .modal-content {
    height: 50%;
    width: 90%;
  }

  .border_surround {
    height: 25%;
    width: 350px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:70%;
  }

  .GraphBox {
    display: flex;
    position: relative;
    flex-direction: column; /* Stack the graph and buttons vertically */
    width: 100%;
    height: 100%; /* Make sure the container takes full height */
  }

  .GraphSelectButton {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: auto;
    width: 350px;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    padding-top: 0;
    border:1px solid;
    padding-bottom: 10px;
  }
  .GraphButton {
    width: 150px;
    height: 30px;
    font-size: 12px;
  }

  .css-1sazv7p-MuiStack-root>:not(style):not(style){
    margin-top: 10px;
  }
}


@media(max-width: 400px) {
  .writeformshow {
    margin-top: 5%;
    margin-left:-2%;
    width: 350px;
  }

  .write-form {
    display: block;
    border-radius: 8px;
    padding: 10px 10px 24px;
    width: 350px;
    height: auto;
    overflow: hidden;
  }

  .FormSelect-Box {
    width: 90%;
    align-items: center;
    margin-left: 5%;
  }


  .question {
    width: 90%;
    padding-top: 10%;
    margin-left: 5%;
  }


  .selected_question {
    margin-left: 10%;
    padding-bottom: 5%;
  }

  .questions {
    margin-bottom: 12px;
    margin-top: 12px;
    width: 80%;
  }

  .title-dropdown {
    margin-left: 10%;
  }

  .question-slider {
    margin-left: 5%;
    padding-top: 5%;
    justify-content: center;
  }

  .Survey-Box {
    width: 95%;
    padding-top: 5%;
    margin-left: 3%;
  }

  .border_surround {
    height: 25%;
    width: 350px;
    position: absolute;
    left: 60%;
    transform: translateX(-50%);
    top:70%;
  }



  .GraphBox {
    display: flex;
    flex-direction: column; /* Stack the graph and buttons vertically */
    width: 100%;
    height: 100%; /* Make sure the container takes full height */
  }

  .GraphSelectButton {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0px;
    overflow: auto;
    width: 300px;
    height: 110%;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
    padding-top: 0;
    border:1px solid;
    padding-bottom: 10px;
  }
  .GraphButton {
    width: 120px;
    height: 30px;
    font-size: 10px;
  }

  .css-1sazv7p-MuiStack-root>:not(style):not(style){
    margin-top: 7px;
  }


}